/* ==========================================================================
   Custom STYLES
   ========================================================================== */

.header-link {
  display: none;
}

h2 {
  color: rgba(217, 115, 13, 1);
  fill: rgba(217, 115, 13, 1);
}